.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Slightly wider */
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.service-card{
    border-radius: 15px !important;
    padding: 10px;
    max-width: 350px;
    min-height: 270px;
    margin-bottom: 20px;
    box-shadow: 15px 10px 15px 5px rgba(0, 0, 0, 0.12);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.service-images img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.service-card h3 {
    margin-top: 10px;
    font-size: 21px;
    color: #0c0b0b;
    font-family: Montserrat !important;
}

.service-card ul {
    list-style-type: disc;
    padding-left: 20px;
}

.service-card .perticipate_link{
    width: 99% !important;
    border-radius: 12px !important;
    background-color: rgb(20, 148, 110);
    color: #ffffff  !important;
}


.color-darkpink{
  color: #ee4e52 !important;  
}


